<div class="row">
    <div class="card my-card">
        <div class="card-body my-body-card">
            <form role="form" [formGroup]="joinForm">
                <div class="form-content">
                    <h3 class="my-account-tittle">Account</h3>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="name" formControlName="name">
                    </div>
                </div>
                <button onclick="window.location.href='/main'" (click)="join()" class="btn btn-primary my-btn">Join</button>
            </form>
        </div>
    </div>
</div>