<div class="columns is-centered my-notification">
    <div class="notification is-centered">
        <div class="field" [formGroup]="joinForm">
            <div class="control">
                <h2 class="title has-text-centered">Account</h2>
                <div class="field has-addons">
                    <p class="control">
                        <input class="input is-primary is-medium" type="text" placeholder="Name" formControlName="name">
                    </p>
                    <p class="control">
                        <button (click)="join()" class="button is-primary is-medium">Join</button>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

