<div class="row">
    <div class="card my-card">
        <div class="card-body my-body-card">
            <form>
                <h3>Account</h3>
                <div class="form-group">
                    <div class="col-xs-12">
                        <input (keyup)="onKey($event)" type="text" class="form-control my-input" placeholder="name">
                    </div>
                </div>
                <button (click)="createAccount()" class="btn btn-primary my-btn">Join</button>
            </form>
        </div>
    </div>
</div>
<button (click)="getAccounts()" class="btn btn-primary my-btn">GET</button>


