.logo {
    margin-top: -5%;
    transform: scale(0.5);
    cursor: default;
}

.my-cointainer {
    margin-top: 2%;
}

.hello {
    margin-top: 10px;
}

.color {
    color: #00d1b2;
}

@media screen and (max-width: 1300px) {
    .logo {
        height: 20rem;
    }
}
@media screen and (max-width: 800px) {
    .logo {
        height: 15rem;
    }
}
@media screen and (max-width: 650px) {
    .logo {
        transform: scale(0.9);
        height: 8rem;
        margin-top: 1%;
    }
}
