.account-card {
    margin-left: -10%;
}

.list-card {
    width: 80%;
    height: 347px;
    text-align: center;
    cursor: pointer;

}

.my-th {
    width: 250px;
}

.my-receiver {
    margin-top: 50px;
}


