.scroll-y {
    overflow-y: scroll;
    cursor: pointer;
}

.scroll-x {
    overflow-x: hidden;
}

.max-height {
    max-height: 200px;
}

.max-height-12 {
    max-height: 300px;
}

.color {
    background-color: #00d1b2;
}

.tr-hover:hover {
    color: #00d1b2;
    font-weight: bold;
}

@media screen and (max-width: 1300px) {
    .scroll-x {
        overflow-x: scroll;
    }
}