<div class="row">
    <div class="col-md-8">
        <div class="card account-card">
            <div class="card-body">
                <h3 class="card-title">Your account</h3>
                <table class="table table-responsive">
                    <tr>
                        <th>Name</th>
                        <td>{{myAccountDetails.name}}</td>
                    </tr>
                    <tr>
                        <th>Balance</th>
                        <td>{{myAccountDetails.balance}}</td>
                    </tr>
                    <tr>
                        <th>Address</th>
                        <td>{{myAccountDetails.address}}</td>
                    </tr>
                    <tr>
                        <th>Public key</th>
                        <td>{{myAccountDetails.publicKey}}</td>
                    </tr>
                    <tr>
                        <th>Private key</th>
                        <td>{{myAccountDetails.privateKey}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card list-card">
            <div class="card-body">
                <h3 class="card-tittle">List of accounts<i class="fa fa-user-o"></i></h3>
                <table class="table table-hover table-responsive">
                    <tr *ngFor="let account of accounts">
                        <th class="my-th" (click)="pullReceiver(account.name)">{{account.name}}</th>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<div *ngIf="isReceiverExist" class="row">
    <div class="col-md-8">
        <div class="card account-card my-receiver">
            <div class="card-body">
                <h3 class="card-title">Receiver</h3>
                <table class="table table-responsive ">
                    <tr>
                        <th>Name</th>
                        <td>{{receiver.name}}</td>
                    </tr>
                    <tr>
                        <th>Balance</th>
                        <td>{{receiver.balance}}</td>
                    </tr>
                    <tr>
                        <th>Address</th>
                        <td>{{receiver.address}}</td>
                    </tr>
                    <tr>
                        <th>Public key</th>
                        <td>{{receiver.publicKey}}</td>
                    </tr>
                    <tr>
                        <th>Private key</th>
                        <td>{{receiver.privateKey}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card list-card my-receiver">
            <div class="card-body">
                <h3 class="card-tittle">Transaction</h3>
                <table class="table table-hover table-responsive">
                    <tr>
                        <th class="my-th">From</th>
                    </tr>
                    <tr>
                        <td class="my-th">{{myAccountDetails.name}}</td>
                    </tr>
                    <tr>
                        <th class="my-th">To</th>
                    </tr>
                    <tr>
                        <td class="my-th">{{receiver.name}}</td>
                    </tr>
                </table>
                <span>
                    <input [(ngModel)]="amount" type="number" class="form-control my-input" placeholder="amount">
                    <button (click)="executeTransaction(myAccountDetails.name, receiver.name)" class="btn btn-success">Execute</button>
                </span>
            </div>
        </div>
    </div>
</div>

    
    
    