<div class="row">
    <div class="col-md-8">
        <div class="card account-card">
            <div class="card-body">
                <h3 class="card-title">Your account</h3>
                <table class="table table-responsive">
                    <tr>
                        <th>Name</th>
                        <td>{{myAccountDetails.name}}</td>
                    </tr>
                    <tr>
                        <th>Balance</th>
                        <td>{{myAccountDetails.balance}}</td>
                    </tr>
                    <tr>
                        <th>Address</th>
                        <td>{{myAccountDetails.address}}</td>
                    </tr>
                    <tr>
                        <th>Public key</th>
                        <td>{{myAccountDetails.publicKey}}</td>
                    </tr>
                    <tr>
                        <th>Private key</th>
                        <td>{{myAccountDetails.privateKey}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card list-card my-scroll">
            <div class="card-body">
                <h4 class="card-tittle">List of accounts <i class="fa fa-user"></i></h4>
                <table class="table table-hover table-responsive">
                    <tr *ngFor="let account of accounts">
                        <th class="my-th my-th-list" (click)="getReceiver(account.name)">{{account.name}}</th>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<div *ngIf="isReceiverExist" class="row">
    <div class="col-md-8">
        <div class="card account-card my-receiver">
            <div class="card-body">
                <h3 class="card-title">Receiver</h3>
                <table class="table table-responsive ">
                    <tr>
                        <th>Name</th>
                        <td>{{receiver.name}}</td>
                    </tr>
                    <tr>
                        <th>Balance</th>
                        <td>{{receiver.balance}}</td>
                    </tr>
                    <tr>
                        <th>Address</th>
                        <td>{{receiver.address}}</td>
                    </tr>
                    <tr>
                        <th>Public key</th>
                        <td>{{receiver.publicKey}}</td>
                    </tr>
                    <tr>
                        <th>Private key</th>
                        <td>{{receiver.privateKey}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card list-card my-receiver">
            <div class="card-body">
                <h4 class="card-tittle">Transaction</h4>
                <table class="table table-hover table-responsive">
                    <tr>
                        <th class="my-th">From</th>
                    </tr>
                    <tr>
                        <td class="my-th">{{myAccountDetails.name}}</td>
                    </tr>
                    <tr>
                        <th class="my-th">To</th>
                    </tr>
                    <tr>
                        <td class="my-th">{{receiver.name}}</td>
                    </tr>
                </table>
                <span>
                    <input [(ngModel)]="amount" type="number" class="form-control my-input" placeholder="amount">
                    <button (click)="executeTransaction(myAccountDetails.name, receiver.name)" class="btn btn-success my-btn">Execute</button>
                </span>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card account-card my-scroll my-blocks-card">
            <div class="card-body">
                <h3 class="card-title">Blocks</h3>
                <table class="table table-responsive table-hover">
                    <tr>
                        <th class="my-th-blocks">Index</th>
                        <th class="my-th-blocks">Timestamp</th>
                        <th class="my-th-blocks">Transactions</th>
                    </tr>
                    <tr (click)="getBlock(block)" class="my-tr-blocks" *ngFor="let block of blockchain.blocks">
                        <td>{{block.index}}</td>
                        <td>{{block.timestamp | date: 'dd/MM/yyyy hh:mm:ss'}}</td>
                        <td>{{getLength(block)}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<div *ngIf="isBlockExist" class="row">
    <div class="col-md-12">
        <div class="card my-block-card">
            <div class="card-body">
                <h3 class="card-title">Block #{{block.index}}</h3>
                <table class="table table-responsive">
                    <tr>
                        <th class="my-th-width">Hash</th>
                        <td class="my-td-width">{{block.hash}}</td>
                    </tr>
                    <tr>
                        <th>Previous hash</th>
                        <td>{{block.previousHash}}</td>
                    </tr>
                    <tr>
                        <th>Nonce</th>
                        <td>{{block.nonce}}</td>
                    </tr>
                    <tr>
                        <th>Timestamp</th>
                        <td>{{block.timestamp | date: 'dd/MM/yyyy hh:mm:ss'}}</td>
                    </tr>
                    <tr class="my-background-transaction">
                        <th>Transactions</th>
                        <td>{{getLength(block)}}</td>
                    </tr>
                    <tr> 
                        <table class="table table-responsive" *ngFor="let transaction of block.transactions">
                            <tr>
                                <th>Sender</th>
                                <th>Receiver</th>
                                <th>Amount</th>
                                <th>Signature</th>

                            </tr>
                            <tr>
                                <td>{{transaction.sender.name}}</td>
                                <td>{{transaction.receiver.name}}</td>
                                <td>{{transaction.amount}}</td> 
                                <td title="{{transaction.signature}}">{{truncate(transaction.signature)}}</td> 
                            </tr>
                        </table>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>




    
    
    